<a href="https://colab.research.google.com/github/gabrielapietra/python/blob/main/driva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
dadosEmpresa = pd.read_csv('/content/drive/My Drive/driva/DadosEmpresa.csv')

Print no terminal as colunas desse arquivo;

In [4]:
dadosEmpresa.columns

Index(['cnpj', 'raiz_cnpj', 'matriz_filial', 'razao_social',
       'opcao_pelo_simples', 'capital_social'],
      dtype='object')

Print no terminal as primeiras linhas desse arquivo;

In [5]:
dadosEmpresa.head(5)

           cnpj  raiz_cnpj  ... opcao_pelo_simples capital_social
0  126195000110     126195  ...                NAO              0
1  155991000181     155991  ...                NAO          40000
2  321106000197     321106  ...                NAO           5000
3  358376000172     358376  ...                SIM              0
4  563375000160     563375  ...                SIM              0

[5 rows x 6 columns]

Print no terminal o total de empresas nesse arquivo que tem a coluna "opcao_pelo_simples" com o valor "SIM";

In [6]:
dadosEmpresa.opcao_pelo_simples.str.count("SIM").sum()

383

Print no terminal a soma do "capital_social" de todas as empresas;

In [7]:
sum(dadosEmpresa.capital_social)

304313407

Print no terminal todas as empresas que tem "capital_social" maior que 10.000 e menor que 20.000;

In [8]:
dadosEmpresa.query('capital_social > 10000 and capital_social < 20000')

               cnpj  raiz_cnpj  ... opcao_pelo_simples capital_social
10     841331000154     841331  ...                SIM          15000
58    3842870000104    3842870  ...                NAO          15000
125   6153856000183    6153856  ...                SIM          15000
131   6913250000107    6913250  ...                SIM          12000
190   9401653000157    9401653  ...                NAO          16666
205  10353834000134   10353834  ...                NAO          17000
232  10882234000163   10882234  ...                SIM          15000
281  13994051000128   13994051  ...                SIM          13500
327  17915726000157   17915726  ...                SIM          12000
354  20925274000107   20925274  ...                NAO          15000
379  22516315000129   22516315  ...                NAO          15000
404  24582772000147   24582772  ...                NAO          15000
407  24642438000131   24642438  ...                NAO          15000
418  25341444000111   25341444  ...                SIM          13000
449  27481416000125   27481416  ...                SIM          15000
467  28341460000100   28341460  ...                NAO          12000
477  29116537000101   29116537  ...                SIM          12000
501  29920323000185   29920323  ...                SIM          12000
502  29920563000180   29920563  ...                NAO          12000
535  31168095000180   31168095  ...                NAO          15000
587  33899321000129   33899321  ...                SIM          12000
609  34829222000133   34829222  ...                SIM          15000
616  35118515000175   35118515  ...                SIM          15000
698  38731500000176   38731500  ...                SIM          12000
719  40240560000138   40240560  ...                SIM          15000
721  40414919000146   40414919  ...                NAO          15000
746  41138337000147   41138337  ...                SIM          15000
760  79850954000143   79850954  ...                NAO          12000

[28 rows x 6 columns]

EXTRA: Leia o arquivo "DadosEndereco.csv"

In [9]:
dadosEndereco = pd.read_csv('/content/drive/My Drive/driva/DadosEndereco.csv')

In [10]:
dadosEndereco.head(5)

           cnpj         bairro      municipio
0  126195000110     BIGORRILHO       CURITIBA
1  155991000181         CENTRO           LAPA
2  321106000197      PRIMAVERA  NOVO HAMBURGO
3  358376000172  SAO PELEGRINO  CAXIAS DO SUL
4  563375000160         CENTRO    TRES COROAS

EXTRA: Faça um merge entre os dois arquivos pela coluna "cnpj"

In [11]:
dadosEmpresaEndereco = dadosEmpresa.merge(dadosEndereco, on = 'cnpj', how = 'left')

In [27]:
dadosEmpresaEndereco.head(3)

           cnpj  raiz_cnpj  ...      bairro      municipio
0  126195000110     126195  ...  BIGORRILHO       CURITIBA
1  155991000181     155991  ...      CENTRO           LAPA
2  321106000197     321106  ...   PRIMAVERA  NOVO HAMBURGO

[3 rows x 8 columns]

In [17]:
dadosEmpresaEnderecoCuritiba = dadosEmpresaEndereco.query('municipio == "CURITIBA"')

In [28]:
dadosEmpresaEnderecoCuritiba.head(3)

           cnpj  raiz_cnpj  ...         bairro municipio
0  126195000110     126195  ...     BIGORRILHO  CURITIBA
6  587384000190     587384  ...      BACACHERI  CURITIBA
8  714851000104     714851  ...  CENTRO CIVICO  CURITIBA

[3 rows x 8 columns]

salve um arquivo CSV com todas as empresas que são de "CURITIBA";

In [29]:
dadosEmpresaEnderecoCuritiba.to_csv('dadosEmpresaEnderecoCuritiba.csv', sep = ';', decimal = ',', index = False)